<!DOCTYPE html>
{% extends 'testApp/base.html' %}
    {% block body_blok %}
     <div class="jumbotron" style="margin-top: 2%;background-color: white">
        <div class="container">
            <h1 style="font-size: 50px">WELCOME TO ABHIRVA EXAM PORTAL</h1>
            <h2><b>Rules:-</b></h2>
            <ul>
                <li>Rule1:- You should write only one exam per day</li>
                <li>Rule2:- You should write only one exam per day</li>
                <li>Rule3:- You should write only one exam per day</li>
            </ul>
        </div>
     </div>
    {% endblock %}