# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Abhirva Python\Django_Practice_bydurgavideo\classBasedView2_CRUD_Project23_V82\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
