# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Abhirva Python\Django_Practice_bydurgavideo\classBasedView3_CreateUpdateDelete_Project24_V83\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
